/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';

li.menu-separator {
    height: 1px !important;
    display: block !important;
    background-color: var(--surface-border) !important;
}
